<div class="owl-carousel owl-theme">
    <div ng-repeat="slide in slides" class="item" style="background-image: url('frontend/view/img/uploads/{{slide.img}}')">
        <label id="{{slide.cod_prod}}" ng-click="redirectShopProd({{slide.cod_prod}})" class="title_prod">{{slide.name}}</label>
    </div>
</div>
<div id="categories-section">
    <h1 data-tr="categories-title" class="mt-5">Categorias</h1>
    <div id="categories" class="row justify-content-around py-5">
        <div ng-repeat="catego in categories" id="{{catego.name}}" ng-click="redirectShopCatego('{{catego.name}}')" class="categoria catego row align-items-center" style="background-image: url('frontend/view/img/uploads/{{catego.img}}')">
            <label class="title_catego mx-auto">{{catego.name}}</label>
        </div>
    </div>
</div>