<div class="login-page">
    <div class="form">
        <form class="register-form">
            <input id="reg-user" type="text" placeholder="username" />
            <div class="error_form" id="error-reg-user">{{error_reg_user}}</div>
            <input id="reg-pass" type="password" placeholder="password" />
            <div class="error_form" id="error-reg-pass">{{error_reg_pass}}</div>
            <input id="reg-rpass" type="password" placeholder="repeat password" />
            <div class="error_form" id="error-reg-rpass">{{error_reg_rpass}}</div>
            <input id="reg-email" type="text" placeholder="email address" />
            <div class="error_form" id="error-reg-email">{{error_reg_email}}</div>
            <button ng-click="register()">create</button>
            <p class="message">Already registered? <a href="" ng-click="change_view()">Sign In</a></p>
        </form>
        <form class="login-form">
            <input id="log-user" type="text" placeholder="username" />
            <input id="log-pass" type="password" placeholder="password" />
            <div class="error_form" id="error-log">{{error_log}}</div>
            <button ng-click="login()">login</button>
            <div id="log-gmail" class="button" ng-click="login_gmail()">Entra con Gmail</div>
            <div id="log-github" class="button" ng-click="login_github()">Entra con GitHub</div>
            <p class="message">Datos olvidados? <a href="#/login/recover">Recupera tus datos</a></p>
            <p class="message">Not registered? <a href="" ng-click="change_view()">Create an account</a></p>
        </form>
    </div>
</div>