<link rel="stylesheet" href="frontend/module/checkout/view/css/checkout.css">
<div class="row mt-5 mb-5">
    <div class="col-75">
        <div class="container2 ml-3">
            <form class="infoform">

                <div class="row">
                    <div class="col-50">
                        <h3>Billing Address</h3>
                        <label for="fname"><i class="fa fa-user"></i> Full Name <span class="error_form">{{error_name}}</span></label>
                        <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
                        <label for="email"><i class="fa fa-envelope"></i> Email <span class="error_form">{{error_email}}</span></label>
                        <input type="text" id="email" name="email" placeholder="john@example.com">
                        <label for="adr"><i class="fa fa-address-card-o"></i> Address <span class="error_form">{{error_address}}</span></label>
                        <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
                        <label for="city"><i class="fa fa-institution"></i> City <span class="error_form">{{error_city}}</span></label>
                        <input type="text" id="city" name="city" placeholder="New York">

                        <div class="row">
                            <div class="col-50">
                                <label for="state">Country <span class="error_form">{{error_country}}</span></label>
                                <input type="text" id="state" name="state" placeholder="United States">
                            </div>
                            <div class="col-50">
                                <label for="zip">Zip <span class="error_form">{{error_zip}}</span></label>
                                <input type="text" id="zip" name="zip" placeholder="10001">
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-50">
                        <h3>Payment</h3>
                        <label for="fname">Accepted Cards</label>
                        <div class="icon-container">
                            <i class="fa fa-cc-visa" style="color:navy;"></i>
                            <i class="fa fa-cc-amex" style="color:blue;"></i>
                            <i class="fa fa-cc-mastercard" style="color:red;"></i>
                            <i class="fa fa-cc-discover" style="color:orange;"></i>
                        </div>
                        <label for="cname">Name on Card</label>
                        <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                        <label for="ccnum">Credit card number</label>
                        <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                        <label for="expmonth">Exp Month</label>
                        <input type="text" id="expmonth" name="expmonth" placeholder="September">

                        <div class="row">
                            <div class="col-50">
                                <label for="expyear">Exp Year</label>
                                <input type="text" id="expyear" name="expyear" placeholder="2018">
                            </div>
                            <div class="col-50">
                                <label for="cvv">CVV</label>
                                <input type="text" id="cvv" name="cvv" placeholder="352">
                            </div>
                        </div>
                    </div> -->

                </div>
                <label>
            <!-- <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing -->
          </label>
                <input type="submit" value="Order Now" class="checkout_btn" ng-click="buy()">
            </form>
        </div>
    </div>

    <div class="col-25">
        <div class="container">
            <h4>Cart
                <span class="price" style="color:black">
                    <i class="fa fa-shopping-cart"></i>
                    <b>{{n_cart_prods}}</b>
                </span>
            </h4>
            <p ng-repeat="prod in cart_prods">
                <a href="#/shop/{{prod.id_prod}}">{{prod.name}}</a> <span class="price">{{prod.cantidad}} <span ng-if="prod.cantidad > 1">Unidades</span><span ng-if="prod.cantidad == 1">Unidad</span> = {{prod.precio*prod.cantidad}}€</span>
            </p>
            <hr>
            <p>Total <span class="price" style="color:black"><b>{{tp_cart_prods}}€</b></span></p>
        </div>
    </div>
</div>