<div id="wrapper" class="warpper">
    <div class="sidebar">
        <!-- Sidebar  -->
        <nav id="sidebar">

            <div id="dismiss" ng-click="dismiss_overlay()">
                <i class="fa fa-arrow-left"></i>
            </div>

            <ul id="main_menu" class="list-unstyled components">
                <li>
                    <a data-tr="Homepage" href="#/"></a>
                </li>
                <li>
                    <a data-tr="Shop" id="shop-menu-button" href="#/shop/" ng-click="shop_menu()"></a>
                </li>
                <li>
                    <a data-tr="Contact" href="#/contact/"></a>
                </li>
                <li>
                    <a data-tr="Services" href="#/services/"></a>
                </li>
                <li>
                    <a data-tr="About Us" href="#/aboutus/"></a>
                </li>
            </ul>

        </nav>
    </div>
    <div id="content">