<div id="wrapper" class="warpper">
    <div class="sidebar">
        <!-- Sidebar  -->
        <nav id="sidebar">

            <div id="dismiss" ng-click="dismiss_overlay()">
                <i class="fa fa-arrow-left"></i>
            </div>

            <ul id="main_menu" class="list-unstyled components">
                <li>
                    <a data-tr="Homepage" href="#/">Home</a>
                </li>
                <li>
                    <a data-tr="Shop" id="shop-menu-button" href="#/shop/" ng-click="shop_menu()">Shop</a>
                </li>
            </ul>

        </nav>
    </div>
    <div id="content">